.container {
    padding: 20px;
  }


#participantsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#participantsTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#participantsTable tr:nth-child(even){background-color: #f2f2f2;}
  
#participantsTable tr:hover {background-color: #ddd;}
  
#participantsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#participantsTable td {
    text-align: center;
}

h5{
    text-align: center;
}
a{
    color: linen;
}



